.see-more{
    float:right;
    font-size: 30px;
    margin: 20px auto;
}

.see-more-container{
    width:100%;
}

.selection-item-image{
    
    max-width: 300px;
    max-height: 300px;
}

.selection-item-button{
    color:#282730;
}

.selection-package{
    margin: 25px;
    display: inline-block;
}

.selection-row{
      flex-wrap: wrap;
}

.selection-container{
    margin: 0 auto;
    text-align: center;
}

@media only screen 
and (max-width: 767px){ 
}